@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  // background-color: #f9f9ff;
  background-color: #e3e0cf;
  font-family: 'Baloo Tammudu 2', cursive;
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* Card */

$dark-blue: #26293c;
$light-green: #b2d9a6;
$yellow: #ffd433;
$gray: #c0c3d7;
$light-blue: #c6e1ed;
$light-pink: #ffd3d4;
$orange: #ff582c;
$light-orange: lighten($orange, 15%);
$purple: #782c4a;
$light-purple: lighten($purple, 35%);
$red: #c0392b;
$pale-red: rgba($red, 0.6);
